:global(.jsonPreviewBox) {
  :global(.previewStyle) {
    background-color: #eee;
    overflow-x: scroll;
    max-height 500px;
    padding: 10px 20px;
    .string {
      color: green;
    }
    .number {
      color: darkorange;
    }
    .boolean {
      color: blue;
    }
    .null {
      color: magenta;
    }
    .key {
      color: red;
    }
  }
}