.container {

  overflow: auto;
  max-height: 400px;

  div {
    display: inline-block;
    padding: 0 2px;
  }

  .format {
    div {
      display :block;
      padding: 5px 15px;
    }
    text {
      margin-right: 5px;
    }
    .predicate {
      margin-right: 5px;
    }

  }

  .text {
    margin-right: 2px;
    color: #0d4aff;
  }

  .bracket {
    padding-left: 0 !important;
  }

  .left {
    font-weight: bold;
  }

  .right {
    font-weight: bold;
  }

  .predicate {
    margin-right: 2px;
    font-weight: bold;
  }

  .value {
    color: #ac4142;
  }

  .relation {
    color: #56ac15;
  }

}

