.container {
  background: #fff;
  margin-left: 220px;
  transition: all 0.5s;
  &.toggle {
    margin-left: 0px;
  }
  .children {
    margin-left: 10px;
    position: relative;
    padding: 65px 15px 0;
  }
}
