.container {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 220px;
  border-right: 1px solid #e9e9e9;
  transition all 0.5s;

  :global(.ant-menu-inline) {
    border-right: none;
    opacity 1;
    transition all 0.5s;
  }

  span {
    border-bottom: 1px dashed #ff0000;
  }

  .toggleDiv {
    opacity: 0;
    border-radius : 0 8px 8px 0;
    background-color : #ecf6fd;
    height 80px;
    cursor pointer;
    width : 10px;
    position: fixed;
    top: 40%;
    left: 220px;
    transition: visibility 0s, opacity 0.5s linear, left 0.5s;
  }
  .toggleIcon {
    margin-top : 35px;
    color : #108ee9;
    font-size: 10px;
  }
  &.toggle {
    width 0px !important;
    .toggleDiv {
      left: 0px;
      opacity: 1;
    }
    :global(.ant-menu-inline) {
      opacity 0;
    }
  }
  &:hover{
    .toggleDiv {
      opacity: 1;
    }
  }
}
.container::-webkit-scrollbar {
  display: none;
}
