.container {

  h2 {
    text-align: center;
  }
  div {
    margin: 30px auto;
    font-size: 14px;
    text-align :center;
  }
  i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 60px;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  .android {
    margin-left :40px;
  }
}