.container {
  padding: 25px;
  .validator {
    width: 350px;
    :global(.ant-card-body) {
      font-size: 14px;
      line-height: 24px;
      padding: 20px 24px;
    }
  }
}

.set-validator-extra{
  width: 400px;
}