.container {
  margin-bottom: 15px;
  :global(.ant-card-head) {
    background-color: #f7f7f7;
  }
  .forms {
    .item {
      display: inline-block;
      padding: 0 10px 10px 10px;
      button {
        display: none;
      }
    }

  }
  .action {
    margin-top: 10px;
    text-align: center;
    button {
      margin-right: 5px;
    }
  }
  .userSearch {
    position: relative;
    padding: 17px 16px 15px 20px;
    border-radius: 0 0 4px 4px;
    transition: background-color .4s;
    width: 100%;
    font-size: 12px;
    margin: 0 0 20px;
    border: 1px solid #e9e9e9;
  }
  .userSearchTitle {
    position: absolute;
    top: -10px;
    padding: 1px 8px;
    margin-left: -8px;
    color: #777;
    border-radius: 4px 4px 0 0;
    background: #fff;
    transition: background-color .4s;
  }
}
