.container {
  z-index: 1001;
  :global(.ant-modal-content) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  :global(.ant-modal) {
    position: absolute;
    top: 3%;
    left: 3%;
    bottom: 3%;
    right: 3%;
  }

}