.container {
  .card {
    :global(.ant-card-body) {
      padding: 0;
      :global(.ant-table),
      table {
        border-radius: 0;
      }
    }
    :global(.ant-pagination) {
      margin-right: 20px;
    }
  }
  .reload {
    margin-left:10px;
    font-size: 15px;
    top: -2px;
    display: inline-block;
    position: relative;
    &:hover {
      color: #d9007e;
    }
  }
}