.container {
  display: inline-block;
  .export-icon {
    margin-left: 10px;
    font-size: 15px;
    top: -2px;
    display: inline-block;
    position: relative;
    &:hover {
      color: #d9007e;
    }
  }
}

.export {
  margin: 0 auto;
  display: block;
}

.title {
  margin: 10px 0;
}

.error {
  text-align: center;
  font-size: 20px;
  color: #999;
  line-height :450px;
}